{% import "_includes/forms" as forms %}

{% set menu = element.getMenu() %}


{{ forms.textField({
    label: "Name"|t,
    id: 'title',
    name: 'title',
    value: element.title,
    errors: element.getErrors('title'),
    first: true,
    autofocus: true,
    required: true
}) }}

{{ forms.elementSelectField({
    label: "Linked Entry"|t,
    id: 'linkedEntryId',
    name: 'linkedEntryId',
    elementType: selectEntryElement,
    addButtonLabel: "Choose an Entry"|t,
    elements: linkedEntryElements,
    limit: 1
}) }}

{{ forms.elementSelectField({
    label: "Linked Category"|t,
    id: 'linkedCategoryId',
    name: 'linkedCategoryId',
    elementType: selectCategoryElement,
    addButtonLabel: "Choose a Category"|t,
    elements: linkedCategoryElements,
    limit: 1
}) }}

{{ forms.textField({
    label: "Custom Url"|t,
    id: 'customUrl',
    name: 'customUrl',
    value: element.customUrl,
    errors: element.getErrors('customUrl'),
    first: true,
    autofocus: true,
    required: false
}) }}
